.modal-promociones {
  width: 85vw !important;
  max-width: 1400px !important;
  margin: 1.75rem 1.5rem 1.75rem auto !important;
}

.modal-promociones .modal-content {
  width: 100% !important;
  max-width: none !important;
  min-height: 95vh;
}

.modal-promociones .modal-body {
  max-height: 80vh;
  overflow-y: auto;
}
